nav{
  background-color: rgb(96, 140, 170);
  height: 50px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: auto;
  text-align: center ;
  height: 100%;
  align-items: center;
  list-style-type: none;  
  gap: 10px;
  margin: 0px;
}

nav a{
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 3px black;

}



.logo{
  color: white;
  font-family:"Georgia",serif;
  font-size: 1.5em;
  padding-left: 20px;
  margin: 0%;
}


body{
  background-color: #365b6d;
  margin: 0px;
}

.logo {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}


