nav{
  background-color: rgb(96, 140, 170);
  height: 50px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  position: fixed;
  width: 100%;
}

nav ul{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-template-rows: auto;
  text-align: center ;
  height: 100%;
  align-items: center;
  list-style-type: none;  
  gap: 10px;
  margin: 0px;
}

nav a{
  text-decoration: none;
  color: white;
  text-shadow: 4px 4px 3px black;

}



.logo{
  color: white;
  font-family:"Georgia",serif;
  font-size: 1.5em;
  padding-left: 20px;
  margin: 0%;
}



.logo {
  font-family: "Ewert", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.Accueil {

  display: grid;
  grid-template-columns: 40% 50%;
  margin-bottom: 200px;
  padding-top: 50px;
  
  
}


.Accueil img{
  width: 100%;
  max-width: 100%;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 20px 20px 20px black;

}


.Accueil p{
  padding-left: 50px;
}


.Accueil h1{
  padding-left: 50px;
}




.Projects{
  display: grid;
  grid-template-rows: repeat(3,fr);
  margin: 20px;

}


.projects div{
  height: 20px;
  width: 20px;
}



















body{
  background-color: #365b6d;
  margin: 0px;
}
